<manifest xmlns:android="http://schemas.android.com/apk/res/android" package="com.qualitzer.nativeuitest">
  <uses-sdk android:minSdkVersion="24" android:targetSdkVersion="36" />
  <application android:label="Qualitzer isolated UI test" android:debuggable="true" android:allowBackup="false" />
  <instrumentation android:name="com.qualitzer.nativeuitest.DumpInstrumentation" android:targetPackage="com.qualitzer.nativeuitest" />
</manifest>